h1{
    background-color: aqua;
}



div{
    position: relative;
    left: 0px;
    border: 4px solid #73AD21;
  font-size: 40px;
    background-color:black;


}

html{
    background-color:black;
}
head{
    background-color:black;
}
